{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Kernel.php",
            "Infrastructure/Doctrine/ORM/Repository"
        ]
    },
    "logs": {
        "text": "tests\/infection\/infection-log.txt"
    },
    "phpUnit": {
        "customPath": "vendor/bin/phpunit"
    },
    "tmpDir": "tests/infection/tmp",
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    }
}
